<!doctype html>
<html>
<head>
	<title>Projects</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Author" content="Islam Dudaev" />
	<meta name="description" content="The AgularJS task for getting a job." />
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="myApp" ng-cloak>
	<!------------------------------------------------->
	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="myApp.js"></script>
	<!------------------------------------------------->
	
	<div ng-controller="AppCtrl" layout="column" style="height:100%;" ng-cloak>
	
		<section layout="row" flex>
	
		    <md-sidenav class="md-sidenav-left side sidePadding" md-component-id="left" 
		    	md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="1">
		    	<!--
		    	<md-card>
					<md-card-header>
						<md-card-avatar>
						<img class="md-user-avatar" src="img/userPhoto.jpg">
						</md-card-avatar>
						<md-card-header-text>
						<span>Trevor Reyes</span>
						</md-card-header-text>
					</md-card-header>
				</md-card> 
				-->
		    	
				<md-list>
					<md-list-item class="md-1-line" ng-repeat="item in messages">
						<img src="img/photoFrame.png" class="photoFrame">
						<img ng-src="{{item.face}}?{{$index}}" class="md-avatar">
						<div class="md-list-item-text">
							<h4>{{item.name}}</h4>
						</div>
					</md-list-item>
				</md-list>
					
				
					
		    	
		    	<!--
		    	<user-card name="User name"></user-card>
		    	
		    	<md-divider md-inset ng-if="!$last"></md-divider>
		    	-->
	
		    </md-sidenav>
		
		    <md-content flex layout-padding class="middle">
		        <div layout="column" layout-align="top center">
			        <div>
			            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
				            Toggle left
			            </md-button>
			        </div>
		        	<div>
						<md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
							Toggle right
						</md-button>
		        	</div>
		        </div>
		        
				
				<div flex></div>
		    </md-content>
	
		    <md-sidenav class="md-sidenav-right md-whiteframe-4dp side" md-component-id="right">
		
		        <md-toolbar class="side">
		        	<p style="text-align: center;">Create new project</p>
		        </md-toolbar>
		      
		        <md-content ng-controller="RightCtrl" md-theme="myTheme" class="side" layout-padding>
			        <form>
			            <md-input-container>
			            	<label style="color:#f6f6f6" for="projectName">Project name</label>
							<input type="text" id="projectName" ng-model="data" md-autofocus>
			            </md-input-container>
			        </form>
			        <md-button ng-click="close()" class="md-primary">
			        	Close
			        </md-button>
		        </md-content>  
			</md-sidenav>
		</section>
	</div>

		
	<!---------------------------------------------
	
	<div class="container" layout="row" flex>
		
		<md-sidenav md-is-locked-open="true">
		
			<div class="photo">
				<img src="img/userPhoto.gif" class="avatar">
			</div>
			<div class="name">
				Trevor Reyes
			</div>
				
			<md-list>
				<md-list-item>
					<md-button>
						Private 8
					</md-button>
				</md-list-item>
				<md-list-item>
					<md-button>
						Decode 25
					</md-button>
				</md-list-item>
			</md-list>
		
		</md-sidenav>
		
		<md-content id="content" flex>
		
		</md-content>
	</div>
	
	<!--
		<ul>
			<li ng-repeat="item in toDoList">
				{{item}}
				<span ng-click="removeItem($index)">&times;</span>
			</li>
		</ul>
		<input ng-model="addMe">
		<button ng-click="addItem()">Add</button>
		<p>{{errortext}}</p>
	-->
	
</body>
</html>