body {
	font-family: SFUIText, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.side {
	font-family: SFUIText;
	background-image:url(img/sidenav.png);
	background-repeat: no-repeat;
	padding: 0 30px;
	font-weight: 600;
}
.md-sidenav-left {
	color: #ffffff;
	width: 24.1%;
}
md-list-item .md-avatar {
	width: 50.5px;
	height: 50px;
}
.photoFrame {
	position: absolute;
	top: 3px;
	margin-left: -5px;
}
md-list-item, 
.md-list-item-text {
	font-size: 15px;
	line-height: 14px;
}
.labelProjects {
	color: #b3bbcb;
	font-size: 12px;
	line-height: 14px;
	padding-left: 17px;
	
}
md-list-item, md-list-item .md-list-item-inner,
md-list-item .md-list-item-inner:before, md-list-item:before {
	min-height: 40px;
	border-radius: 8px;
}
.activeProject {
	background-color: #6b6b99;
}
/*
.logout{
	top: 847px;
}
*/
.logout{
	position: absolute;
	bottom: 5px;
	left: 45px;
}

.esc {
	position: absolute;
	top: 10px;
}
.escWord {
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 10px;
}
.md-sidenav-right md-input-container, 
.md-sidenav-right md-input-container label{
	padding-left: 40px;
}
.check {
	width: 36px;
	height: 36px;
	position: absolute;
	background-color: #6b6b99;
	border-radius: 50%;
	bottom: 20px;
	right: 20px;
}








/*
md-card {
	background-color: #292C33;
	color: #FFFFFF;	
}
*/

.main {
	background-image:url(img/bg.jpg);
	background-repeat: no-repeat;
}
