.side {
	background-image:url(img/sidenav.png);
	background-repeat: no-repeat;
	color: white;
}
.md-sidenav-left {
	font-weight: bold;
}
.sidePadding {
	padding-left: 30px;
	padding-right: 30px;
}
md-list-item .md-avatar {
	width: 50px;
	height: 50px;
}
.photoFrame {
	position: absolute;
	border-image: url(img/photoFrame.png);
	top: 3px;
	margin-left: -5px;
}
.projects {
    margin-top: 30px;
	padding: 15px;
}
.labelProjects {
	color: #b3bbcb;
}
.plus {
	position: absolute;
	right: 2em;
	top: 8.5em;
}
.esc {
	position: absolute;
	top: 10px
}
.escWord {
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 10px;
}
.md-sidenav-right md-input-container, 
.md-sidenav-right md-input-container label{
	padding-left: 40px;
}
.check {
	width: 36px;
	height: 36px;
	position: absolute;
	background-color: #6b6b99;
	border-radius: 50%;
	bottom: 20px;
	right: 20px;
}
.logout{
	position: absolute;
	bottom: 5px;
	left: 45px;
}

.activeProject {
	background-color: #6b6b99;
	border-radius: 5px;
}





/*
md-card {
	background-color: #292C33;
	color: #FFFFFF;	
}
*/

.main {
	background-image:url(img/bg.jpg);
	background-repeat: no-repeat;
}

.white {
	color: #ffffff;
}